<!DOCTYPE html>
<html>
    <head>
        
        <title>
            <%= title %>
        </title>
        
        <link rel="stylesheet" href="">
        <%- style %>
    </head>
    <body>
        <%- include('nav_bar'); %>

        <%-body %>


     
        <%- script %>
        <script src="" async defer></script>
    </body>
</html>