
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            <%= title %>
        </title>
        <!-- CSS only -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      
<link rel="stylesheet" href="<%= assetPath('css/layout.css') %>">

        <%- style %>
    </head>
    <body>
       
      
        <div class="wrapper">
            <div class="row">
                <nav class="col-2 col-lg-2">
                    <a class="yu" href="/">
                    <i class="fas fa-dove"></i>
                </a>
                <a href="/">
                    <i class="fas fa-home"></i>
                </a>
                <a href="/search">
                    <i class="fas fa-search"></i>
                <a href="/notifications">
                    <i class="fas fa-bell"></i>
                    <span id="notificationBadge">8</span>
                </a>
                <a href="/messages">
                    <i class="fas fa-envelope"></i>
                   
                </a>
                <a href="/users/profile/<%=user._id %>">
                    <i class="fas fa-user"></i>
                </a>
                <a href="/users/sign-out">
                    <i class="fas fa-sign-out-alt"></i>
                </a>

                </nav>
                <div class="mainSectionContainer col-10 col-md-8 col-lg-8">
                    <div class="titleContainer">
                        <h1> <%=title %></h1>
                    </div>
                    <%- body %></div>
                <div class="d-none d-md-block col-md-2 col-lg-2"></div>
            </div>
        </div>

        <div class="notificationList"></div>

        
     
        <%- script %>

        
        <% if(flash.success && flash.success.length>0){%>
            <script>
               
                    new Noty({
                        theme: 'relax',
                        text: '<%=flash.success %>',
                        type: 'success',
                        layout: 'topRight',
                        timeout: 1000
                        
                    }).show();
                
            </script>
            <%}else if(flash.error && flash.error.length>0){%>
                <script>
               
                    new Noty({
                        theme: 'relax',
                        text: '<%=flash.error %>',
                        type: 'error',
                        layout: 'topRight',
                        timeout: 1500
                        
                    }).show();
                
            </script>
    
            <%} %>

<script src="https://kit.fontawesome.com/2a98f01c57.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script>
    var user="<%= user._id %>"
</script>

<script src="<%= assetPath('js/common.js') %>"></script>
<script src="<%= assetPath('js/socket.js') %>"></script>
<script src="<%= assetPath('js/notification.js') %>"></script>
<script src="<%= assetPath('js/post.js') %>"></script> 
    </body>
</html>